/*
Colors used

Text Color (Platinum): #EAE9E6;
Background Color (Garnet): #6A3937;
Black Bean: #3B0D11;
Slate Gray: #748386;
Dim Gray: #706563;
 */

:root {
  --primary-color: #6A3937;
  --secondary-color: #3B0D11;
  --platinum: #EAE9E6;
  --slate-grey: #748386;
  --burgundy: #331337;
  --header-font: 'Gloock', serif;
}

body {
    background-color: var(--primary-color);
    font-family: 'DM Sans', sans-serif;
    color: var(--platinum);
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}

* {
  box-sizing: border-box;
}

h1 {
    font-family: var(--header-font);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

h3 {
    font-family: var(--header-font);
    font-size: 18px;
    font-weight: 500;
}

a {
    /* changes links on work and contact page?*/
    color: var(--platinum);
}

a:visited {
    /* visited link, default color of link when loaded*/
    color: var(--platinum);
}

a:hover {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link, color when link is held down */
    color: var(--slate-grey);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;    
    background-color: var(--platinum);
    color: var(--secondary-color);
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

table {
    border-spacing: 15px;
}

th, td {
    padding-right: 40px;
    text-align: left; 
}

.logo-name{
    font-family: 'Dawning of a New Day', cursive;
    font-size: 30px;
    font-weight: 400;
    color: var(--platinum);
    padding-left: 20px;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.page-header {
    background-color: var(--secondary-color);
    display: flex;
    width: 100%;
    padding: 20px 40px;
    /*filter: drop-shadow(0px 2px 1px #300C0F)*/
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 350px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    min-width: 360px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.social-media{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.about-page-footer {
    background-color: var(--burgundy);
    margin-top: -50px;
    padding-bottom: 30px;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 310px 350px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--secondary-color);
    padding-top: 4%;
    padding-left: 9%;
    padding-right: 4%;
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(200px, 25px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(50px, 30px);
  }
  to {
    transform: translate(-200px, 30px);
  }
}

.clouds {
  animation-duration: 40s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* shorter way of coding animation*/
/*.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}*/

.clouds__reverse {
  animation: 40s cloud-move-reverse infinite alternate linear;
}
